{{>header}}
<section class="container my-3">
    <h2>add Balance </h2>
    {{#if isEmpty}}
    <div class="alert alert-danger">
        customer not found
    </div>
    {{else}}

    <form method="post">
      
          <div class="mb-3">
            <input class="form-control" name="balance">
            {{#if errors.balance}}
                <div class="text-danger"><span>{{errors.balance}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit Customer</button>
        </div>
    </form>
    {{/if}}
</section>
{{>footer}}